// Footer style
.footer-cta {
    @apply relative mx-auto w-[1920px] max-w-full overflow-hidden;
    .cta-text {
        transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .cta-icon {
        opacity: 0.75;
        transform: rotateX(0deg);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        @screen sm {
            transform: rotateX(88deg);
        }
    }
    .animated-line {
        @apply relative flex whitespace-nowrap;
        .line-block,
        .line-block-copy {
            @apply flex pb-[6px];
        }
        .line-block-copy {
            backface-visibility: hidden;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateX(100%) translateZ(0);
            will-change: transform;
        }
        &-one {
            .line-block {
                animation: move-horizontal-forward 20s linear infinite;
            }
            .line-block-copy {
                animation: move-horizontal-forward-copy 20s linear infinite;
            }
        }
        &-two {
            .line-block {
                animation: move-horizontal-backward 20s linear infinite;
            }
            .line-block-copy {
                animation: move-horizontal-backward-copy 20s linear infinite;
            }
        }
    }
    &:hover {
        .cta-text {
            @apply opacity-75;
        }
        .cta-icon {
            opacity: 1;
            transform: rotateX(0) rotateZ(-45deg);
        }
        .animated-line {
            .line-block,
            .line-block-copy {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes move-horizontal-forward {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes move-horizontal-forward-copy {
    0% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes move-horizontal-backward {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes move-horizontal-backward-copy {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
