.button {
    @apply bg-dark/60 relative inline-block overflow-hidden rounded-full border border-white/80 px-7 py-4 text-[15px] font-medium uppercase leading-none text-white backdrop-blur-[10px];
    &-sm {
        @apply px-6 py-[0.875rem];
    }
    &::before,
    &::after {
        @apply absolute left-0 top-0 h-full w-full bg-white;
    }
    &-dark {
        @apply text-dark border-dark bg-white;
        &::before,
        &::after {
            @apply bg-dark;
        }
    }
    span {
        @apply relative z-10 block;
        transition: 0.2s color;
    }
    &::before {
        content: '';
        width: 120%;
        height: 0;
        padding-bottom: 120%;
        top: -110%;
        left: -10%;
        border-radius: 50%;
        transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    }
    &::after {
        content: '';
        transform: translate3d(0, -100%, 0);
        transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover {
        &::before {
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transition: transform 0.5s cubic-bezier(0.1, 0, 0.3, 1);
        }
        &::after {
            transform: translate3d(0, 0, 0);
            transition-duration: 0.05s;
            transition-delay: 0.4s;
            transition-timing-function: linear;
        }
        span {
            @apply text-dark;
            animation:
                MoveScaleUpInitial 0.25s forwards,
                MoveScaleUpEnd 0.25s forwards 0.25s;
        }
    }
    &-dark:hover span {
        @apply text-white;
    }
}

.link {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(#fff, #fff);
    background-size: 0 1px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out;
    &-dark {
        background-image: linear-gradient(transparent, transparent),
            linear-gradient(#18181a, #18181a);
    }
    &:hover {
        background-size: 100% 1px;
        background-position: 0 100%;
    }
}

@keyframes MoveScaleUpInitial {
    to {
        transform: translate3d(0, -105%, 0) scale3d(1, 1.5, 1);
        opacity: 0;
    }
}
@keyframes MoveScaleUpEnd {
    from {
        transform: translate3d(0, 100%, 0) scale3d(1, 1.5, 1);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
