---
import { contentfulClient } from '../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import type { EntryFieldTypes } from 'contentful'
import Home from '../components/home'

import Layout from '../layouts/Layout.astro'
import '../styles/global.css'

// interface BlogPost {
//   contentTypeId: "blogPost",
//   fields: {
//     title: EntryFieldTypes.Text
//     body: EntryFieldTypes.RichText,
//   }
// }

// const entries = await contentfulClient.getEntries<BlogPost>({
//   content_type: "blogPost",
// });
---

<body>
    <Layout title="Shane Jeffery">
        <Home />
    </Layout>

    <!-- {entries.items.map((item) => (
    <section>
      <h2>{item.fields.title}</h2>
      <article set:html={documentToHtmlString(item.fields.body)}></article>
    </section>
  ))} -->
</body>
